* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳＰゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
}
header {
    padding: 1.5% 2%;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    z-index: 5;
    border-bottom: black solid 1px;
}
.menuh1 {
    margin: 0; padding: 0;
    font-size: 20px;
}
.menua {	
    text-decoration: none;
    color: #4b4b4b;
}
nav {
    margin: 0 0 0 auto;
}
.menuul {
    list-style: none;
    margin: 0;
    display: flex;
}
.menuli {
    margin: 0 0 0 15px;
    font-size: 14px;
}